{% extends 'layout/main.html' %}
{% block main %}
    {% call section() %}

        <div class="text-content white-text">
            <p>Ресурс 1-SMM, именуемый далее сервис, настоящей публичной офертой предлагает заключить договор об оказании услуг. Приняв настоящую оферту посредством совершения
                ниже перечисленных действий, Вы, далее - Клиент, заключаете Договор на условиях, в порядке и объеме, определенных настоящей офертой.</p>
            <h5>Пользовательское соглашение для ресурса 1-SMM</h5>
            <h6><strong>1. Порядок оказания услуг</strong></h6>
            <p>1.1. Медиа-параметры, момент начала, длительность размещения, тип и специфика
                Информационных материалов, размещаемых через Сервис 1-SMM в социальных сетях и оплата за них, а также иные условия, касающиеся размещения
                Информационных материалов, определяются Клиентом посредством Пользовательского интерфейса Сервиса 1-SMM, в пределах установленных Администрацией Сервиса.
                1.2. Ведение статистики размещения Информационных материалов и предоставление Клиенту доступа к ней осуществляется Сервисом. Собранная статистическая информация
                размещается на защищенном Интернет-ресурсе Сервиса.
                1.3. Клиент получает доступ к Интернет-ресурсу и размещенной на нем статистической информации с помощью самостоятельно определенных уникальных логина и пароля, либо с
                использованием аккаунта в социальное сети "привязанного" к заданным логину и паролю.
                1.4. Возврат средств, введенных на счет пользователя, осуществляется по усмотрению администрации сервиса.</p>
            <h6><strong>2. Права и обязанности сторон</strong></h6>
            <ul>
                <li><strong>2.1. Сервис обязуется:</strong>
                    2.1.1. Размещать рекламные материалы клиента, по условиям установленным порядком оказания услуг
                    2.1.2. Не ограничивать доступ пользователей к рекламным материалам клиента, размещенным с помощью сервиса 1-SMM
                    2.1.3. Представлять Клиенту доступ к статистической информации по размещению Информационных материалов на Интернет-ресурсах третьих лиц с помощью выбранных Клиентом
                    уникальных логина и пароля посредством Пользовательского интерфейса сервиса 1-SMM, расположенного на защищенном Интернет-ресурсе Сервиса.
                </li>
                <li><strong>2.2. Клиент обязуется:</strong>
                    2.2.1. Своевременно и в полном объеме оплачивать оказанные Сервисом в соответствии с настоящим Договором услуги. Предоставлять для размещения на Интернет-ресурсах
                    третьих лиц Информационные материалы, соответствующие требованиям Договора и приложений к Договору.
                    2.2.2. Предоставлять для размещения на Интернет-ресурсах третьих лиц Информационные материалы, принадлежащие ему на праве собственности или ином праве, определенном
                    действующим законодательством РФ.
                    2.2.3. В течение трех дней по требованию Администрации Сервиса предоставить письменное подтверждение прав на размещаемые Информационные материалы.
                    2.2.4. В случае если Клиент размещает информацию о товарах или услугах, для которых существуют правила и ограничения, то он обязан иметь все необходимые
                    разрешительные документы, лицензии или сертификаты и предоставить их копии в течение трех дней по требованию Администрации Сервиса.
                    2.2.5. Полностью и самостоятельно использовать все денежные средства, перечисленные на счет Сервиса в счет предоплаты оказываемых услуг.
                    2.2.6. Самостоятельно поддерживать доступность в сети Интернет рекламируемых материалов, указываемых в заданиях созданных через интерфейс сервиса 1-SMM
                    2.2.7. Рекламодатель обязуется не создавать задания, содержащие в себе ссылки на: площадки, нарушающие законодательство РФ; являющиеся рекламой других бирж,
                    ориентированных на социальные сети или смс-платников; любые другие площадки, которые могут быть признаны недопустимыми администрацией биржи.
                    2.2.8. Клиент обязуется не рассылать Рекламодателю сообщения, которые могут быть признаны как спам Рекламодателем или Администрацией Сервиса.
                    2.2.9. Клиент обязуется не использовать автоматические средства управления аккаунтом, кроме средств согласованных с Администрацией Сервиса.
                    2.3.1. Клиент обязуется не использовать Спам-технологии (Spam advertizing и т.п) и любые другие мошеннические способы для привлечения рефералов и получения выгоды
                    от партнерской программы.
                </li>
                <li><strong>2.3. Сервис имеет право:</strong>
                    2.3.1. Сервис имеет право без предупреждения пользователя изменять пределы изменение параметров объявлений, которые может задать Клиент при создании заданий.
                    2.3.2. Сервис имеет право снять с публикации рекламные материалы клиенты, если по считает их неприемлемыми к публикации по мнению Администрации Сервиса.
                    2.3.3. Требовать от Клиента своевременной и полной оплаты предоставленных в соответствии с настоящим Договором услуг.
                    2.3.4. Ограничить доступ третьих лиц к Информационным материалам, размещенным Клиентом, в случае нарушения Клиентом условий Договора, в том числе в случае нарушения
                    пунктов 2.2.2,2.2.4.
                    2.3.5. Отправлять Клиенту по электронной почте информационные письма от Сервиса 1-SMM.
                    2.3.6. Администрация сервиса имеет право использовать материалы из лент присоединенных группы(публичных страниц).
                    2.3.7. Администрация сервиса имеет право заблокировать аккаунт пользователя без объяснения причин.
                    2.3.8. Администрация сервиса имеет право отказать Клиенту в выводе средств в том случае, если деятельность Клиента будет расценена как размен денег. Под разменом в
                    данном случае подразумевается ввод и вывод средств в разных платежных системах без оплаты услуг Сервиса.
                    2.3.9. Администрация сервиса имеет право отказать Клиенту в выводе средств, в случае использования Клиентом других сервисов по накрутке/рекламе одновременно с
                    ресурсом 1-SMM
                </li>
            </ul>
            <h6><strong>3. Общие положения</strong></h6>
            <p>3.1. Данное соглашение начинает действовать сразу после регистрации пользователя на ресурсе и перестает только по письменному заявлению пользователя на адрес
                Администрации Сервиса
                3.2. Администрация может изменить содержание данного договора-оферты, без уведомления пользователя, и новый договор-оферта вступает в действие после 3 суток после его
                изменения
                3.3. Исполнители получают вознаграждение от рекламодателей, а не от самого сервиса.
                3.4. Сервис не является налоговым агентом и не несет ответственности за неуплату исполнителями налогов с доходов.
                3.5. В случае использования Клиентом других рекламных сервисов одновременно с ресурсом 1-SMM все полученные лайки/подписки/комментарии и прочие следствия накрутки
                считаются результатом действий ресурса 1-SMM</p>
            <h6><strong>4. Возврат денежных средств.</strong></h6>
            <p>4.1 Клиент в праве запросить полный или частичный возврат денежных средств, которые не были израсходованы на выполнение заказа в любое время до полного выполнения
                заказа.
                4.2 Клиент не в праве отказаться от оплаченного и выполненного заказа.
                4.3 Претензии по качеству выполнения заказа принимаются в течении 3 месяцев с момента публикации заказа. Претензии поданные после этого срока Администрацией сервиса не
                рассматриваются.
                4.4 Возврат неизрасходованых денежных средств производится только тем способом которым Клиент оплачивал пополнение баланса сайта.
                4.5 В случае использования одновременно нескольких рекламных сервисов Администрация Сервиса не может гарантировать качество выполняемого заказа, не несет
                ответственности за его выполнение и не принимает претензии по качеству.
                4.6 Для возврата денежных средств и подачи претензии необходимо обратиться на почту <a href="mailto://help1smm@ya.ru">help1smm@ya.ru</a>.
            </p>
        </div>

    {% endcall %}
{% endblock %}