{% extends 'layout/main.html' %}
{% block main %}
    {% call section() %}

<div class="text-content white-text">
<p>Пользовательское соглашение для ресурса 1-SMM</p>
<ol>
    <li>Данное соглашение начинает действовать сразу после регистрации пользователя на ресурсе.</li>
    <li>Клиент оформляет заказы добровольно, сугубо на свой страх и риск.</li>
    <li>При оформлении заказа Клиент понимает, что все соц. сети имеют свои лимиты/ограничения/тайминги и постоянно борются с любыми видами накруток из вне.</li>
    <li>Обработка заказа занимает 0-6 часов. В зависимости от нагрузок и очереди перед вами. В индивидуальных случаях обработка может длиться до 12 часов.</li>
    <li>При невозможности выполнения заказа устанавливается статус ‘’Отменён’’. Причина указывается в отправленном на почту клиента письме (например: неверная ссылка). Оплаченная сумма автоматически возвращается на счет Клиента.</li>
    <li>В случае использования Клиентом других рекламных сервисов одновременно с ресурсом 1-SMM все полученные лайки/подписки/комментарии и прочие следствия накрутки считаются результатом действий ресурса 1-SMM.</li>
    <li>Претензии по качеству выполнения заказа принимаются в течение 48 часов с момента готовности заказа. Претензии поданные после этого срока Администрацией сервиса не рассматриваются.</li>
    <li>В случае использования одновременно нескольких рекламных сервисов Администрация Сервиса не может гарантировать качество выполняемого заказа, не несет ответственности за его выполнение и не принимает претензии по качеству.</li>
    <li>Возврат средств, введенных на счет пользователя, возможен только в исключительном порядке на усмотрение администрации сервиса.</li>
    <li>Минимальная сумма экстренного возврата введёных средств 500 руб, без учета комиссии платежной системы.</li>
    <li>Для возврата денежных средств и подачи претензии необходимо обратиться на почту help1smm@ya.ru</li>
    <li>Срок рассмотрения претензии составляет 3 рабочих дня.</li>
    <li>Администрация сервиса имеет право отказать Клиенту в выводе средств, в случае использования Клиентом других сервисов по накрутке одновременно с ресурсом 1-SMM.</li>
    <li>Тех. поддержка сервиса осуществляется по адресу электронной почты help1smm@ya.ru. В течении 24 часов все корректные запросы получают ответы.</li>
    <li>Иные контактные данные (Skype, ICQ, Telegram) доступны для уточнящих вопросов.</li>
    <li>Не знание правил не освобождает от ответственности.</li>
    <li>Администрация сервиса имеет право заблокировать аккаунт Клиента без объяснения причин.</li>
</ol>
<p>Если Вы не согласны с данными условиями - воздержитесь от оформления заказа.</p>
</div>

    {% endcall %}
{% endblock %}