[Unit]
Description=Flask for: smm-one
Documentation=https://1-smm.com

[Service]
WorkingDirectory=/var/flask/smm-one
ExecStart=/usr/bin/python3.7 /var/flask/smm-one/smm-one.py
Restart=always

[Install]
WantedBy=multi-user.target
