{% extends 'layout/main.html' %}
{% block main %}
    {% call section() %}
        <form id="settings-main" data-target="data-cfg-param" class="col s12 m10 offset-m1">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Системные настройки</span>
                    <div class="section row no-mar-bot">
                        <div class="input-field col s6">
                            <input type="text" data-cfg-param="nakrutka_apikey" value="{{ config['NAKRUTKA_APIKEY'] }}">
                            <label>nakrutka.by API Ключ</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="text" data-cfg-param="bigsmm_apikey" value="{{ config['BIGSMM_APIKEY'] }}">
                            <label>bigsmm.ru API Ключ</label>
                        </div>
                        <div class="input-field col s4">
                            <input data-cfg-param="ik_id_checkout" type="text" value="{{ config['IK_ID_CHECKOUT'] }}">
                            <label>Интеркасса ID Кассы</label>
                        </div>
                        <div class="input-field col s4">
                            <input data-cfg-param="ik_id" type="text" value="{{ config['IK_ID'] }}">
                            <label>Интеркасса API Id пользователя</label>
                        </div>
                        <div class="input-field col s4">
                            <input data-cfg-param="ik_key" type="text" value="{{ config['IK_KEY'] }}">
                            <label>Интеркасса API Ключ</label>
                        </div>
                    </div>
                    <div class="row" style="display: none">
                        <div class="col s12 center">
                            <div class="sending preloader-wrapper">
                                <div class="spinner-layer spinner-blue-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="gap-patch">
                                        <div class="circle"></div>
                                    </div>
                                    <div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12 right-align">
                            <button class="btn-large waves-effect waves-light green btn-action" type="submit" name="submit">Сохранить<i class="fas fa-save right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form id="settings-services" class="col s12 m10 offset-m1">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Услуги</span>
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs tabs-fixed-width">
                                {% for i in categories %}
                                    <li class="tab col s3"><a href="#tab-{{ i }}">{{ categories[i] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% for i in categories %}
                            <div id="tab-{{ i }}" class="col s12 tb">
                                {% for s in services %}
                                    {% if s.type == i %}
                                        <div class="row no-mar-bot service" data-service-id="{{ s.id }}">
                                            <div class="input-field col s12 m6">
                                                <input class="service-title validate" type="text" value="{{ s.title }}" required>
                                                <label>Заголовок</label>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <input class="service-price validate" type="number" step="0.01" value="{{ s.price }}" style="width: 90%;" required>
                                                <span>₽</span>
                                                <label>Цена</label>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <input class="service-price-resellers validate" type="number" step="0.01" value="{{ s.price_resellers }}" style="width: 90%;" required>
                                                <span>₽</span>
                                                <label>Цена реселлерам</label>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <div class="switch">
                                                    <label>Выкл<input class="service-state" type="checkbox" {{ 'checked' if s.state == 1 else '' }}> <span class="lever"></span>Вкл</label>
                                                    <label><input class="service-action" type="hidden" value="upd"></label>
                                                </div>
                                            </div>
                                            {% if s.s_type == 'manual' %}
                                                <div class="input-field col s12 m2">
                                                    <a class="btn btn-rm waves-effect waves-light red">Удалить</a>
                                                </div>
                                            {% endif %}
                                            <div class="input-field col s12">
                                                <textarea class="service-desc materialize-textarea" data-length="1000">{{ s.desc }}</textarea>
                                                <label>Описание</label>
                                            </div>
                                            <div class="input-field col s6 m3">
                                                <input class="service-min" type="number" value="{{ s.min }}" style="width: 90%;" required>
                                                <label>Минимум</label>
                                            </div>
                                            <div class="input-field col s6 m3">
                                                <input class="service-max" type="number" value="{{ s.max }}" style="width: 90%;" required>
                                                <label>Максимум</label>
                                            </div>
                                            <div class="input-field col s12 m3">
                                                Категория
                                                <select class="category browser-default">
                                                    {% for i in categories %}
                                                        <option class="service-categ" value="{{ i }}" {{ 'selected' if i == s.type else '' }}>{{ categories[i] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="input-field col s12 m3">
                                                <br><br><br><br>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <div class="switch">
                                                    <span>Критерий "Страна"</span>
                                                    <label>Выкл<input class="service-param-country" type="checkbox" {{ 'checked' if s.country == 1 else '' }}><span class="lever"></span>Вкл</label>
                                                </div>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <div class="switch">
                                                    <span>Критерий "Город"</span>
                                                    <label>Выкл<input class="service-param-city" type="checkbox" {{ 'checked' if s.city == 1 else '' }}><span class="lever"></span>Вкл</label>
                                                </div>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <div class="switch">
                                                    <span>Критерий "Пол"</span>
                                                    <label>Выкл<input class="service-param-sex" type="checkbox" {{ 'checked' if s.sex == 1 else '' }}><span class="lever"></span>Вкл
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-field col s12 m2">
                                                <div class="switch">
                                                    <span>Критерий "Возраст"</span>
                                                    <label>Выкл<input class="service-param-age" type="checkbox" {{ 'checked' if s.age == 1 else '' }}><span class="lever"></span>Вкл</label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12 right-align">
                            <button class="btn btn-add waves-effect waves-light blue">Создать<i class="fas fa-plus right"></i></button>
                            <button class="btn waves-effect waves-light green btn-action" type="submit" name="submit">Сохранить<i class="fas fa-save right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% endcall %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sending').hide();
            $('select').formSelect();
            $('#settings-main, #settings-services').submit(function (event) {
                event.preventDefault();
                var pl = $(this).find('.sending'), btn = $(this).find('.btn-action'), fid = $(this).attr('id'), params;
                pl.addClass('active').show();
                btn.fadeOut('fast');
                if (fid === 'settings-main') {
                    params = {};
                    var target = $(this).attr('data-target'), f_data = $(this).find('[' + target + ']');
                    for (var i = 0; i < f_data['length']; i++) params[$(f_data[i]).attr(target)] = $(f_data[i]).val();
                } else if (fid === 'settings-services') {
                    params = [];
                    $('.service').each(function (i, elem) {
                        params.push({
                            "id": $(this).attr('data-service-id'),
                            "title": $(this).find('.service-title').val(),
                            "desc": $(this).find('.service-desc').val(),
                            "price": $(this).find('.service-price').val(),
                            "price-resellers": $(this).find('.service-price-resellers').val(),
                            "state": $(this).find('.service-state').is(':checkbox:checked') ? '1' : '0',
                            "action": $(this).find('.service-action').val(),
                            "min": $(this).find('.service-min').val(),
                            "max": $(this).find('.service-max').val(),
                            "type": $(this).find('.service-categ:checked').val(),
                            "param-country": $(this).find('.service-param-country').is(':checkbox:checked') ? '1' : '0',
                            "param-city": $(this).find('.service-param-city').is(':checkbox:checked') ? '1' : '0',
                            "param-age": $(this).find('.service-param-age').is(':checkbox:checked') ? '1' : '0',
                            "param-sex": $(this).find('.service-param-sex').is(':checkbox:checked') ? '1' : '0'
                        });
                    });
                }
                $.ajax({
                    url: '/ajax/save/' + $(this).attr('id'),
                    type: "POST",
                    data: JSON.stringify(params),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        M.toast({html: ({0: 'Ошибка', 1: 'Сохранено'})[data['response']], displayLength: 5 * 1000});
                        btn.fadeIn('fast');
                        pl.hide().removeClass('active');
                        window.location.replace("/admin/settings");
                    }
                });
            });
            $('.btn-rm').click(function () {
                event.preventDefault();
                var service = $(this).closest('.service');
                console.log(service.attr('data-service-id'));
                service.fadeOut();
                service.find('.service-action').val('rm');
            });
            $('.btn-add').click(function () {
                event.preventDefault();
                var service = $(".active .service:last-child").clone().appendTo("#settings-services .card .card-content");
                service.show();
                service.find('.service-action').val('add');
                service.find('.btn-rm').remove();
                service.find('.service-name').text('Новая услуга');
                service.find('.service-title, .service-name, .service-desc, .service-price').val('');
                service.find('.service-state').attr('checked', '1');
            });
        });
    </script>
{% endblock %}