{% extends 'layout/main.html' %}
{% block main %}
    <div class="section">
        <form id="tasks" class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Модерируемые заказы</span>
                    <div class="section row no-mar-bot">
                        <div class="col s12">
                            <ul class="tabs">
                                {% for i in states %}
                                    <li class="tab col s3"><a href="#tab-{{ i }}"
                                                              data-tabid="{{ i }}">{{ states[i] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% for i in states %}
                            <div id="tab-{{ i }}" data-tabid="{{ i }}" class="col s12 tb">
                                <div class="loading center" style="margin: 50px;">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Загрузка...</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {#                <div class="card-action">#}
                {#                    <div class="row">#}
                {#                        <div class="col s12 right-align">#}
                {#                            <button class="btn waves-effect waves-light green btn-action"#}
                {#                                    type="submit" name="submit">Сохранить<i class="fas fa-save right"></i>#}
                {#                            </button>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </form>
    </div>
    {% call section() %}

    {% endcall %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sending').hide();
            $('select').formSelect();
            /*
            $('.btn-send-status').click(function () {
                $(this).fadeOut('fast');
                $.ajax({
                    url: '/ajax/save/state',
                    type: "POST",
                    data: JSON.stringify({
                        "id": $(this).attr('data-tid'),
                        "state": $(".status[data-tid=" + $(this).attr('data-tid') + "]").val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        M.toast({html: ({0: 'Ошибка', 1: 'Сохранено'})[data['response']], displayLength: 5 * 1000});
                        $(this).fadeIn('fast');
                        if (data['response'] === 1) location.reload();
                    }
                });
            }); */
            function loadTasks(){
                $('.tab a').click(function () {
                    $('.tab a').unbind();
                    tabid = $(this).attr('data-tabid');
                    tabdata = $('#tab-' + tabid);
                    tabdata.find('.loading').show();
                    $('.tasks-list').remove();
                    $.ajax({
                        url: '/ajax/tasks/' + tabid,
                        type: "GET",
                        success: function (data) {
                            tabdata.append(data);
                            tabdata.find('.loading').hide();
                            loadTasks();
                        }
                    });
                });
            }
            loadTasks();
            $('.loading').hide();
            $('.tab a')[0].click();
            /*
            $('#tasks').submit(function (event) {
                event.preventDefault();
                var sending = $(this).find('.sending'), btn = $(this).find('.btn-action'), params = [];
                sending.addClass('active').show();
                btn.fadeOut('fast');
                $('.status').each(function (i, elem) {
                    params.push({
                        "id": $(this).attr('data-tid'),
                        "status": $(this).val()
                    });
                });
                $.ajax({
                    url: '/ajax/save/' + $(this).attr('id'),
                    type: "POST",
                    data: JSON.stringify(params),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        M.toast({html: ({0: 'Ошибка', 1: 'Сохранено'})[data['response']], displayLength: 5 * 1000});
                        btn.fadeIn('fast');
                        sending.hide().removeClass('active');
                        if (data['response'] === 1) location.reload();
                    }
                });
            });
            */
        });
    </script>
{% endblock %}