{% extends 'layout/main.html' %}
{% block main %}
    <div class="section">
        <form id="tasks" class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Модерируемые заказы</span>
                    <div class="section row no-mar-bot">
                        <div class="col s12">
                            <ul class="tabs">
                                {% for i in states %}
                                    <li class="tab col s3"><a href="#tab-{{ i }}"
                                                              data-tabid="{{ i }}">{{ states[i] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% for i in states %}
                            <div id="tab-{{ i }}" data-tabid="{{ i }}" class="col s12 tb">
                                <div class="loading center" style="margin: 50px;">
                                    <div class="preloader-wrapper big active">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Загрузка...</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% call section() %}

    {% endcall %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sending').hide();
            $('select').formSelect();
            function loadTasks(){
                $('.tab a').click(function () {
                    $('.tab a').unbind();
                    tabid = $(this).attr('data-tabid');
                    tabdata = $('#tab-' + tabid);
                    tabdata.find('.loading').show();
                    $('.tasks-list').remove();
                    $.ajax({
                        url: '/ajax/tasks/' + tabid,
                        type: "GET",
                        success: function (data) {
                            tabdata.append(data);
                            tabdata.find('.loading').hide();
                            loadTasks();
                        }
                    });
                });
            }
            loadTasks();
            $('.loading').hide();
            $('.tab a')[0].click();
        });
    </script>
{% endblock %}