{% extends 'layout/main.html' %}
{% block main %}
    {% call section('settings row') %}
        <form id="settings-users" class="settings col s12 m10 offset-m1">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s8">
                            <span class="card-title">Пользователи</span>
                        </div>
                        <div class="col s4">
                            <div class="search-wrapper pink darken-4 z-depth-1">
                                <input id="search" placeholder="Поиск..." class="white-text">
                                <div class="search-results"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row users-list">
                    </div>
                </div>
            </div>
        </form>
    {% endcall %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            function loadPage(page = 1, query = '') {
                $('.loading').show();
                $('.users-list').children().remove();
                $.ajax({
                    url: '/ajax/users/',
                    type: "GET",
                    data: {
                        page: page,
                        query: query
                    },
                    success: function (data) {
                        $('.loading').hide();
                        $('.users-list').html(data);
                        $('.pagination li.waves-effect a').click(function (event) {
                            event.preventDefault();
                            page = $(this).attr('data-page');
                            loadPage(page, query);
                        });
                    }
                });
            }
            loadPage();

            $('#search').donetyping(function () {
                loadPage(1, $(this).val());
            });
            $('#search').focus(function() {
                var sw = $(this).parent('.search-wrapper');
                $(sw).removeClass('z-depth-1');
                $(sw).addClass('z-depth-2');
                $(sw).removeClass('darken-4');
                $(sw).addClass('darken-2');
            });
            $('#search').focusout(function() {
                var sw = $(this).parent('.search-wrapper');
                $(sw).removeClass('z-depth-2');
                $(sw).addClass('z-depth-1');
                $(sw).removeClass('darken-2');
                $(sw).addClass('darken-4');
            });
        });
    </script>
{% endblock %}