{% extends 'layout/main.html' %}
{% block main %}
    {% call section() %}

        <ol class="list-questions white-text">
            <li>Не получается создать кампанию, что делать?</li>
            <li>Не получается пополнить баланс.</li>
            <li>Я создал задание, а его никто не выполняет.</li>
            <li>Я создал кампанию, а ее выполнило больше чем надо.</li>
            <li>Я создал кампанию, а вступают не те люди.</li>
            <li>Я набирал подписчиков через ваш сервис, а сегодня их все списали.</li>
            <li>Я через вас уже 5-ый раз заказываю, и вступают одни фейки, с вас идет только спам и мусор!!!</li>
            <li>Предоставляете ли вы закрывающие документы?</li>
            <li>Не получается войти в аккаунт.</li>
        </ol>
        <div class="list-answers white-text">
            <h3>Не получается создать кампанию, что делать?</h3>
            <p>На это вопрос весьма сложно ответить не зная какой тип задания вы пытаетесь создать и какую ссылку/текст указываете, поэтому при обращении в техподдежку пожалуйста
                указывайте эти данные.<br>Так же на форме под полем "ссылка" - вы можете найти примеры поддерживаемых ссылок для каждого типа заданий.<br>Прежде всего проверьте, а
                тот ли тип задания у вас выбран, и что вы не пытаетесь вставить ссылку на группу например в тип заданий "Рассказать друзьям". Теперь о том, что мы не поддерживаем,
                на текущий момент мы не поддерживаем созданий заданий на репосты сообщений, которые сами по себе являются репостами, связано это с приколами апишек соц-сети. Мы не
                накручиваем голосования. Мы не работаем с группами на фейсбуке, тут требуется уточнение - что с публичными страницами мы работаем, а вот информацию о группах
                фейсбук выдает весьма специфично. <br>Также все аккаунты, для которых ведется рекламная кампания, должны быть максимально открыты. Особенно это касается фейсбука.
                Проверьте максимально разрешенные настройки безопасности (все могут видеть, лайкать, и т.д.)<br><br>Если вам данный пункт не помог - создайте обращение, посмотрим и
                если что - дадим более развернутый ответ.</p>
            <hr>
            <h3>Не получается пополнить баланс.</h3>
            <p>На текущий момент у нас подключено две системы приема платежей, так что если у вас не получилось пополнить баланс через систему яндекса - на странице оплаты внизу
                есть раздел "Оплатить электронными деньгами", он ведет на другу платежную систему, она не такая красивая, но в некоторых случаях работает стабильнее.<br>Также мы
                очень приветствуем оплату по безналу, особенно для больших платежей, потому что в этом случае мы не платим комиссию обработчику платежей. Счет вы можете выставить в
                разделе "Для юридических лиц" на странице пополнения.<br>Договор и акты предоставляем. </p>
            <hr>
            <h3>Я создал задание, а его никто не выполняет.</h3>
            <p>Для начала не надо паниковать, у вас деньги не списываются, так что ничего страшного не происходит, в большинстве случаев тут либо нужно просто подождать, из-за
                того, что либо установили слишком узкие таргетинги, либо сейчас ночь и большинство пользователей спит.<br>Также остается вероятность, что вы указали какие-то
                невалидные таргетинги (у нас были случаи, когда рекламодатель ставил чтобы задание начинало работать только после 25-го часа, чего конечно же не происходило).</p>
            <hr>
            <h3>Я создал кампанию, а ее выполнило больше чем надо.</h3>
            <p>Мы стараемся избегать таких ситуаций, но бывает автоматику поглючивает в условиях наплыва пользователей, на заданиях с широким таргетингом и малым лимитом. К
                сожалению нам остается только эмпирически корректировать коэффициенты, и если такое случилось - пишите нам, будем возмещать.</p>
            <hr>
            <h3>Я создал кампанию, а вступают не те люди.</h3>
            <p>Во-первых, убедитесь, что это действительно не те люди. Тут чаще всего конфликты возникают из-за геотаргетингов, стоит учитывать, что мы таргетируем по полю "город"
                из раздела "контактная информация", а не из поля "Родной город".<br>Также, скажем честно, бывает возникают косяки если указана опция "Включая ближайшие города" и
                для какого-то из этих городов не собраны координаты, тогда есть вероятность появления случайных людей в исполнителях, если что-то подобное происходит, то пишите
                нам, разберемся и вернем деньги за некорректных исполнителей.</p>
            <hr>
            <h3>Я набирал подписчиков через ваш сервис, а сегодня их все списали.</h3>
            <p>Это очень грустная ситуация. Для вас грустная, потому что придется снова набирать подписчиков, а для нас она грустная так как придется возмещать вам деньги. К
                сожалению, вконтакте нас не очень любит, и пытается таким образом с нами бороться, отписывая пользователей, набранных через наш сервис, мы же в свою очередь
                корректируем свои алгоритмы так, что бы не попадать под его фильтры.Иногда они что-то меняют и нам нужно немного времени, чтобы адаптироваться под новые условия, в
                этот промежуток и могут быть списания.<br>В любом случае пишите нам на почту, присылайте скрин из статистики группы и мы вернем вам деньги за отписанных
                пользователей.<br>Также, в качестве рекомендаций - не используйте сторонние сервисы для ускорения процесса набора подписчиков. Это увеличивает шансы на списание
                подписчиков, а также уменьшает шансы на то, что мы вернем вам деньги, если выяснится данный факт.</p>
            <hr>
            <h3>Я через вас уже 5-ый раз заказываю, и вступают одни фейки, с вас идет только спам и мусор!!!</h3>
            <p>Мышки плакали и кололись, но продолжали жрать кактус... Шучу.<br>А если серьезно - для начала попробуйте задать чуть более точный таргетинг, например количество
                друзей от 50 до 2000 и укажите какой-нибудь город и поставьте флаг "включая ближайшие города" - это уже отсеет явный трэш.<br></p>
            <hr>
            <h3>Предоставляете ли вы закрывающие документы?</h3>
            <p>Да, предоставляем, мы пока работаем как ИП с печатью, есть шаблоны договоров как на разовые заказы, так и на постоянную работу. Если просто Актов вам будет
                недостаточно, то можем собрать подробный отчет(список исполнителей по каждому заданию, либо суммарная информация по каждой вашей рекламной кампании) и оформить его
                как приложение к договору.<br></p>
            <hr>
            <h3>Не получается войти в аккаунт.</h3>
            <p>Скорее всего вы регистрировать у нас когда-то давно и входили через вконтакт, если к той странице - нет доступа или это не помогает, то можем только по советовать
                написать нам - будем искать.</p>
            <hr>
        </div>

    {% endcall %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.list-answers h3').addClass('pink-text- text-darken-3-');
            $(".list-questions li").click(function () {
                var question_num = $(this).index();
                $([document.documentElement, document.body]).animate({
                    scrollTop: $(".list-answers h3:eq(" + question_num + ")").offset().top
                }, 2000);
            });
        });
    </script>
{% endblock %}