{% extends 'layout/main.html' %}
{% block main %}

    {% call section('row center', 'index-banner') %}
        <h5 class="white-text">Безопасное продвижение в Instagram and YouTube</h5>
        <div class="col l6 s12 center">
            <div class="icon-block white-text">
                <h2><i class="material-icons">flash_on</i></h2>
                <h5>Instagram</h5>
                <p class="light">Накрутка лайков и подписчиков<br>
                    это простые инструменты для рекламы<br>
                    в социальных сетях и гибкие возможности<br>
                    по настройке рекламных заданий</p>
            </div>
        </div>
        <div class="col l6 s12 center">
            <div class="icon-block white-text">
                <h2><i class="material-icons">flash_on</i></h2>
                <h5>YouTube</h5>
                <p class="light">Накрутка лайков и подписчиков<br>
                    это простые инструменты для рекламы<br>
                    в социальных сетях и гибкие возможности<br>
                    по настройке рекламных заданий</p>
            </div>
        </div>
    {% endcall %}

    {% call section(id='auth') %}
        {% if current_user and current_user.is_authenticated %}
            {% block protected %}
                <form id="new-task" class="col s12 m8 offset-m2">
                    <div class="card">
                        <div class="card-content">
                            <div class="row no-mar-bot">
                                <div class="input-field col m10- s12">
                                    <select id="services" data-task-param="service">
                                        <option value="" disabled selected>Мне нужно...</option>
                                        {% for s in services %}
                                            {% if s.state == 1 %}
                                                <option data-task-min="{{ s.min }}" data-task-max="{{ s.max }}"
                                                        data-task-price="{{ s.price }}"
                                                        data-task-desc="{{ s.desc }}"
                                                        value="{{ s.id }}">{{ s.title }} - {{ s.price }} р.
                                                </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label for="services">Задание</label>
                                    <span class="helper-text">Указана цена за 1000</span>
                                </div>
                            </div>
                            <div class="row no-mar-bot">
                                <div class="input-field col m6 s12">
                                    <input id="link" data-task-param="link" type="text" required>
                                    <label for="link">Ссылка</label>
                                    <span class="helper-text sum-help"></span>
                                </div>
                                <div class="input-field col m4 s12">
                                    <input id="quantity" class="validate" data-task-param="quantity" type="number"
                                           required>
                                    <label for="quantity">Количество</label>
                                    <span class="helper-text quantity-help"></span>
                                </div>
                                <div class="input-field col m2 s12 center">
                                    <button class="btn btn-action waves-effect waves-light green task-action" type="submit"
                                            name="submit">
                                        Заказать
                                    </button>
                                    <div class="preloader-wrapper">
                                        <div class="spinner-layer spinner-blue-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div><div class="gap-patch">
                                            <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-field col s12">
                                    <span class="service-desc"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endblock %}
        {% else %}
            <div class="row center grey-text">
                <h6>Требуется авторизация</h6>
                <a class="btn-large waves-effect waves-light blue btn-login">Вход/Регистрация</a>
            </div>
        {% endif %}
    {% endcall %}

    {% call section() %}
        {% if current_user and current_user.is_authenticated %}
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-mar-bot">
                            <div class="input-field col m10- s12 center">
                                {% if tasks %}
                                    <table>
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Вид накрутки</th>
                                            <th>Цена</th>
                                            <th>Заказ</th>
                                            <th>Ссылка</th>
                                            <th>Время</th>
{#                                            <th>Количество</th>#}
                                            <th>Статус</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% set states = {0: "В обработке", 1: "Запущен", 2: "Завершен", 3: "Отменен"} %}
                                        {% for t in tasks %}
                                        <tr>
                                            <td>{{ t.id }}</td>
                                            <td>{{ services[t.tid - 1].title }}</td>
                                            <td>{{ t.amount }} р.</td>
                                            <td>{{ t.quantity }}</td>
                                            <td class="t-link"><a href="{{ t.link }}">{{ t.link }}</a></td>
                                            <td>{{ t.date }}</td>
{#                                            <td></td>#}
                                            <td>{{ states[t.status] }}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <i>История заказов пуста</i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endcall %}

    {% block scripts %}
        <script type="text/javascript">
            $(document).ready(function () {
                var pl = $('.preloader-wrapper');
                pl.hide();
                $('#new-task').submit(function (event) {
                    event.preventDefault();
                    var btn = $(this).find('.btn-action');
                    pl.addClass('active').show();
                    btn.hide();
                    params = {
                        'tid': $('#services').val(),
                        'link': $('#link').val(),
                        'quantity': $('#quantity').val()
                    };
                    $.ajax({
                        url: '/ajax/' + $(this).attr('id'),
                        type: "POST",
                        data: JSON.stringify(params),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            M.toast({
                                html: ({0: data['msg'], 1: 'Добавлено'})[data['response']],
                                displayLength: 5 * 1000
                            });
                            btn.fadeIn('fast');
                            pl.hide().removeClass('active');
                            if (data['response'] === 1) location.reload();
                        }
                    });
                });

                $('#services, #quantity').on('change keyup keypress paste keydown', function () {
                    var serv = $('#services option:selected'), quantity = $('#quantity');
                    $('.service-desc').text(serv.attr('data-task-desc'));
                    $('.quantity-help').text('Мин: ' + serv.attr('data-task-min') + ' Макс: ' + serv.attr('data-task-max'));
                    $('.sum-help').text('Итоговая сумма: ' + 1 * (serv.attr('data-task-price') / 1000 * quantity.val()).toFixed(2) + ' руб.');
                    quantity.attr('min', serv.attr('data-task-min'));
                    quantity.attr('max', serv.attr('data-task-max'));
                });
                {#  $('#services option:selected').attr('data-task-min');    #}
            });
        </script>

    {% endblock %}

{% endblock %}