{#TODO: перенести это в конфиг или бд#}
{% set states = {0: "Обработка", 1: "В работе", 2: "Выполнен", 3: "Отменен"} %}
{% set services = config['SERVICES'] %}
{% set limit = 50 %}
{% set page = request.args.page|int %}
{% set pages = (tasks.count()/limit)|round(0, 'ceil')|int %}
<div class="page-data">
    {% if tasks.count() %}
        <form>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Заказчик</th>
                    <th>Тип</th>
                    <th>Страна</th>
                    <th>Город</th>
                    <th>Возраст</th>
                    <th>Пол</th>
                    <th>Количество</th>
                    <th>Комментарий</th>
                    <th>Сумма заказа</th>
                    <th>Ссылка</th>
                    <th>Время</th>
                    <th style="min-width: 130px;">Статус</th>
                </tr>
                </thead>
                <tbody>
                {%- for t in tasks.offset(limit*(page - 1)).limit(limit) -%}
                    {# {% if t.status == i %} #}
                    <tr>
                        <td>{{ t.id }}</td>
                        <td>id{{ t.uid }}</td>
                        <td>
                            {%- for s in services -%}
                                {%- if s.id == t.tid -%}{{ s.title }}{%- endif -%}
                            {%- endfor -%}
                        </td>
                        <td>{{ t.country }}</td>
                        <td>{{ t.city }}</td>
                        <td>{{ t.age }}</td>
                        <td>{{ t.sex }}</td>
                        <td>{{ t.quantity }}</td>
                        <td>{{ t.comment }}</td>
                        <td>{{ (t.amount|round(2)|string).rstrip('0').rstrip('.') }}
                            р.
                        </td>
                        <td class="t-link"><a href="{{ t.link }}">{{ t.link }}</a></td>
                        <td>{{ t.date }}</td>
                        <td>
                            <label>
                                <select class="status" data-tid="{{ t.id }}">
                                    {%- for s in states -%}
                                        <option value="{{ s }}" {{ 'selected' if s == t.status else '' }}>{{ states[s] }}</option>
                                    {%- endfor -%}
                                </select>
                            </label>
                        </td>
                    </tr>
                    {# {% endif %} #}
                {%- endfor -%}
                </tbody>
            </table>
            <div class="pages center">
                {% set from = tasks.count() - tasks.offset(limit*(page - 1)).count() %}
                {% set to = from + tasks.offset(limit*(page - 1)).limit(limit).count() %}
                <p class="grey-text text-darken-1">Заказы {{ from }}-{{ to }} из {{ tasks.count() }}</p>
                <ul class="pagination">
                    <li class="{{ 'disabled' if page == 1 else 'waves-effect' }}">
                        <a href="#!" data-page="{{ 1 }}"><i class="fas fa-chevron-left"></i></a>
                    </li>
                    {% for i in range(pages) %}
                        <li class="{{ 'active' if page == i + 1 else 'waves-effect' }}"><a href="#!" data-page="{{ i + 1 }}">{{ i + 1 }}</a></li>
                    {% endfor %}
                    <li class="{{ 'disabled' if page == pages else 'waves-effect' }}">
                        <a href="#!" data-page="{{ pages }}"><i class="fas fa-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
                $('.active .count').text(' ({{ tasks.count() }} шт.)');
                $('.status').show();
                $('.status').change(function () {
                    var task = $(this).closest("tr");
                    $.ajax({
                        url: '/ajax/save/state',
                        type: "POST",
                        data: JSON.stringify({
                            "id": $(this).attr('data-tid'),
                            "state": $(this).val()
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            M.toast({html: ({0: 'Ошибка', 1: 'Сохранено'})[data['response']], displayLength: 5 * 1000});
                            task.fadeOut(function () {
                                $(this).remove();
                            });
                        }
                    });
                });
            </script>
        </form>
    {% else %}
        <div class="page-info center v-align">
            <h6><i class="grey-text">Нет заказов с таким статусом</i></h6>
        </div>
    {% endif %}
</div>