{% extends 'layout/main.html' %}
{% block main %}
    {% call section() %}

        <form id="tasks" class="col s12 m10 offset-m1">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Модерируемые заказы</span>
                    <div class="section row no-mar-bot">
                        {% if tasks %}
                            <form>
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Пользователь</th>
                                        <th>ID</th>
                                        <th>Вид накрутки</th>
                                        <th>Цена</th>
                                        <th>Заказ</th>
                                        <th>Ссылка</th>
                                        <th>Время</th>
                                        <th>Статус</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set states = {0: "В обработке", 1: "Запущен", 2: "Завершен", 3: "Отменен"} %}
                                    {% for t in tasks %}
                                        <tr>
                                            <td>{{ t.uid }}</td>
                                            <td>{{ t.id }}</td>
                                            <td>{{ services[t.tid - 1].title }}</td>
                                            <td>{{ t.amount }}</td>
                                            <td>{{ t.quantity }}</td>
                                            <td class="t-link"><a href="{{ t.link }}">{{ t.link }}</a></td>
                                            <td>{{ t.date }}</td>
                                            <td>
                                                <select class="status" data-tid="{{ t.id }}">
                                                    <option value="{{ t.status }}" selected>{{ states[t.status] }}</option>
                                                    <option value="0">В обработке</option>
                                                    <option value="1">Запущен</option>
                                                    <option value="2">Завершен</option>
                                                    <option value="3">Отменен</option>
                                                </select>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                        {% else %}
                            <i>Заказы отсутствуют</i>
                        {% endif %}
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12 right-align">
                            <button class="btn-large waves-effect waves-light green btn-action"
                                    type="submit" name="submit">Сохранить<i class="material-icons right">save</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    {% endcall %}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sending').hide();
            $('select').formSelect();
            $('#tasks').submit(function (event) {
                event.preventDefault();
                var sending = $(this).find('.sending'), btn = $(this).find('.btn-action'), params = [];
                sending.addClass('active').show();
                btn.fadeOut('fast');
                $('.status').each(function(i,elem) {
                    params.push({
                        "id": $(this).attr('data-tid'),
                        "status": $(this).val()
                    });
                });
                console.log(JSON.stringify(params));
                $.ajax({
                    url: '/ajax/save/' + $(this).attr('id'),
                    type: "POST",
                    data: JSON.stringify(params),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        M.toast({html: ({0: 'Ошибка', 1: 'Сохранено'})[data['response']], displayLength: 5 * 1000});
                        btn.fadeIn('fast');
                        sending.hide().removeClass('active');
                    }
                });
            });
        });
    </script>
{% endblock %}