<div class="section" id="index-banner">
    <div class="row center">
        <h5 class="white-text">Безопасное продвижение в соц. сетях</h5>
        <div class="col s12 m6 l4 xl1 center">

        </div>
        <div class="col s12 m6 l4 xl2 center">
            <div class="icon-block white-text">
                <h2><i class="fab fa-odnoklassniki"></i></h2>
                <h5>Одноклассники</h5>
                <p class="light">
                    Участники в группу.<br>
                    Добавление друзей.<br>
                    Накрутка классов и опросов.</p>
            </div>
        </div>
        <div class="col s12 m6 l4 xl2 center">
            <div class="icon-block white-text">
                <h2><i class="fab fa-instagram"></i></h2>
                <h5>Instagram</h5>
                <p class="light">
                    Подписчики. Лайки.<br>
                    Автолайки.<br>
                    Просмотры видео.</p>
            </div>
        </div>
        <div class="col s12 m6 l4 xl2 center">
            <div class="icon-block white-text">
                <h2><i class="fab fa-vk"></i></h2>
                <h5>Вконтакте</h5>
                <p class="light">
                    Лайки. Опросы. Друзья. <br>
                    Вступившие. Эмуляция.</p>
            </div>
        </div>
        <div class="col s12 m6 l4 xl2 center">
            <div class="icon-block white-text">
                <h2><i class="fab fa-facebook-square"></i></h2>
                <h5>Facebook</h5>
                <p class="light">
                    Участники. Лайки.<br>
                    Добавление друзей.</p>
            </div>
        </div>
        <div class="col s12 m6 l4 xl2 center">
            <div class="icon-block white-text">
                <h2><i class="fab fa-telegram"></i></h2>
                <h5>Telegram</h5>
                <p class="light">
                    Участники на канал.</p>
            </div>
        </div>
        <div class="col s12 m6 l4 xl2 center">
            <div class="icon-block white-text">
                <h2><i class="fab fa-youtube"></i></h2>
                <h5>YouTube</h5>
                <p class="light">
                    Просмотры.<br>
                    Лайки и дизлайки.</p>
            </div>
        </div>
        <div class="col s12 m6 l4 xl2 center">
            <div class="icon-block white-text">
                <h2><i class="fab fa-twitter"></i></h2>
                <h5>Twitter</h5>
                <p class="light">
                    Подписчики.<br>
                    Ретвиты.</p>
            </div>
        </div>
    </div>
</div>