<!DOCTYPE html>
<html lang="ru">
{% set app_name = config['APP_NAME'] %}
{% set services = config['SERVICES'] %}
{% set states = {0: "Обработка", 1: "В работе", 2: "Выполнен", 3: "Отменен"} %}
{% set categories = {0: "Одноклассники", 1: "Instagram", 2: "Facebook", 3: "Telegram", 4: "YouTube", 5: "Twitter"} %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{{ app_name }} — {% block title -%}Безопасное продвижение в соц. сетях{%- endblock -%}</title>
    <meta name="description"
          content="{% block description %}Здесь вы можете заказать качественную накрутку подписчиков и лайков для различных социальных сетей{% endblock %}">
    <link rel=stylesheet type=text/css media="screen,projection"
          href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel=stylesheet type=text/css media="screen,projection"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {#    <meta name="application-name" content="{{ app_name }}">#}
    {#    <meta name="theme-color" content="#2196F3">#}
    {#    <link rel="manifest" href="manifest.webapp.json">#}
    {#    <meta name="apple-mobile-web-app-title" content="{{ app_name }}">#}
    {#    <meta name="msapplication-TileColor" content="#2b5797">#}
    {#    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">#}
    {#    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">#}
    {#    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">#}
    {#    <link rel="mask-icon" href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}" color="#5bbad5">#}
    {#    <meta name="interkassa-verification" content="46871daa498d3550fb477f1fe2eb4442"/>#}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {#    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42401203-20"></script>#}
{#    <script>#}
{#        window.dataLayer = window.dataLayer || [];#}
{##}
{#        function gtag() {#}
{#            dataLayer.push(arguments);#}
{#        }#}
{##}
{#        gtag('js', new Date());#}
{#        gtag('config', 'UA-42401203-20');#}
{#    </script>#}
    {%- block head -%}{%- endblock -%}
</head>
{%- macro section(classes='row', id='') -%}
    <div class="section" id="{{ id }}">
        <div class="container"><div class="{{ classes }}">{{ caller() }}</div></div>
    </div>
{%- endmacro -%}
{%- macro navmenu() -%}
    {%- if current_user and current_user.is_authenticated -%}
        {%- if current_user.status == 7 -%}
            <li><a href="/edit"><i class="fas fa-pen"></i>Модерация</a></li>
            <li><a href="/users"><i class="fas fa-user-edit"></i>Пользователи</a></li>
            <li><a href="/settings"><i class="fas fa-wrench"></i>Настройки</a></li>
        {%- endif -%}
        <li>
            <a class="btn-deposit" href="#!">
                <i class="fas fa-wallet"></i>Баланс: {{ (current_user.balance|round(2)|string).rstrip('0').rstrip('.') }} ₽
            </a>
        </li>
        {{ caller() }}
    {%- else -%}
        <li><a class="btn-login"><i class="fas fa-sign-in-alt"></i>Вход</a></li>
    {%- endif -%}
{%- endmacro -%}
<body class="purple darken-3">
<header>
    <nav class="purple darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo"><i class="fab fa-audible hide-on-small-only"></i>
                {{- app_name -}}
            </a>
            <ul class="right hide-on-med-and-down">
                {%- call navmenu() -%}
                    <li>
                        <a class="dropdown-trigger" href="#!" data-target="actions_dd">
                            <i class="fas fa-user"></i>{{ current_user.email }}<i class="fas fa-ellipsis-v right"></i>
                        </a>
                    </li>
                    <ul id="actions_dd" class="dropdown-content">
                        <li class="divider"></li>
                        <li><a class="red-text right-align" href="/logout">Выйти</a></li>
                    </ul>
                {%- endcall -%}
            </ul>
            <ul id="nav-mobile" class="sidenav">
                {%- call navmenu() -%}
                    <li><a href="/logout"><i class="fas fa-sign-in-alt"></i>Выйти: {{ current_user.email }}</a></li>
                {%- endcall -%}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
        </div>
    </nav>
</header>
<main>
    {%- block main -%}
    {%- endblock -%}
    {% call section(id='modals') %}
        <div class="modal modal-confirm modal-login">
            <div class="modal-footer">
                <form id="auth">
                    <div class="input-field col m6 s12">
                        <input id="email" type="text" required>
                        <label for="email" class="active">Email</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <input id="pass" type="password" required>
                        <label for="pass" class="active">Пароль</label>
                    </div>
                </form>
                <div class="input-field col s12">
                    <a class="btn waves-effect waves-light grey white-text signup">Зарегистрироваться</a>
                    <a class="btn waves-effect waves-light green white-text login">Войти</a>
                </div>
            </div>
        </div>
        <div class="modal modal-confirm modal-deposit">
            <div class="modal-content center">
                <h5 style="margin: 10px 0 5px 0;">Пополнение баланса</h5>
                <a href="https://www.interkassa.com" target="_blank">
                    <img src="/static/img/b-logo-gray.png" alt="www.interkassa.com" border="0">
                </a>
                <br>
                <a href="https://webmoney.ru/" target="_blank">
                    <img src="/static/img/88x31_wm_black.png" alt="webmoney.ru" border="0">
                </a>
            </div>
            <div class="modal-footer">
                <form id="payment" name="payment" method="post" action="https://sci.interkassa.com/" enctype="utf-8">
                    <input type="hidden" name="ik_x_userid" value="{{ current_user.id }}"/>
                    <input type="hidden" name="ik_co_id" value="{{ config['IK_ID_CHECKOUT'] }}"/>
                    <input type="hidden" name="ik_pm_no" value=""/>
                    <input type="hidden" name="ik_cli" value="{{ current_user.email }}"/>
                    <input type="hidden" name="ik_cur" value="RUB"/>
                    <input type="hidden" name="ik_desc" value="Пополнение баланса {{ current_user.email }}"/>
                    <div class="col s12 center">
                        <div class="input-field inline">
                            <input name="ik_am" id="ik_am" class="validate" type="number" min="1" max="30000" required>
                            <label for="ik_am">Сумма</label>
                        </div>
                        <div class="input-field inline"><span>руб.</span></div>
                        <div class="input-field inline">
                            <a href="#!" class="btn modal-close waves-effect waves-light red">Отмена</a>
                            <button class="btn waves-effect waves-light green" type="submit" name="submit">
                                К оплате<i class="far fa-credit-card right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endcall %}
</main>
<footer class="page-footer purple darken-2">
    <div class="container">
        <div class="row">
            <div class="col l3 m6 s12 offset-l1">
                <h5 class="white-text"><i class="far fa-question-circle"></i>Чаво</h5>
                <ul>
                    <li><a class="white-text" href="/help">Помощь</a></li>
                    <li><a class="white-text" href="/policy">Пользовательское соглашение</a></li>
                    <li style="font-size: 29px;">
                        <a href="/help/ok" class="white-text"><i class="fab fa-odnoklassniki"></i></a>
                        <a href="/help/instagram" class="white-text"><i class="fab fa-instagram"></i></a>
                        <a href="/help/facebook" class="white-text"><i class="fab fa-facebook-square"></i></a>
                        <a href="/help/telegram" class="white-text"><i class="fab fa-telegram"></i></a>
                        <a href="/help/youtube" class="white-text"><i class="fab fa-youtube"></i></a>
                        <a href="/help/twitter" class="white-text"><i class="fab fa-twitter"></i></li></a>
                    <li>
                        <!-- Yandex.Metrika informer -->
                        <a href="https://metrika.yandex.ru/stat/?id=51062585&amp;from=informer" target="_blank" rel="nofollow">
                            <img src="https://informer.yandex.ru/informer/51062585/1_0_EFEFEFFF_EFEFEFFF_0_uniques" style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" />
                        </a>
                        <!-- /Yandex.Metrika informer -->
                        <!-- Yandex.Metrika counter -->
                        <script type="text/javascript" >
                            (function (d, w, c) {
                                (w[c] = w[c] || []).push(function() {
                                    try {
                                        w.yaCounter51062585 = new Ya.Metrika2({
                                            id:51062585,
                                            clickmap:true,
                                            trackLinks:true,
                                            accurateTrackBounce:true
                                        });
                                    } catch(e) { }
                                });
                                var n = d.getElementsByTagName("script")[0],
                                    s = d.createElement("script"),
                                    f = function () { n.parentNode.insertBefore(s, n); };
                                s.type = "text/javascript";
                                s.async = true;
                                s.src = "https://mc.yandex.ru/metrika/tag.js";
                                if (w.opera == "[object Opera]") {
                                    d.addEventListener("DOMContentLoaded", f, false);
                                } else { f(); }
                            })(document, window, "yandex_metrika_callbacks2");
                        </script>
                        <noscript><div><img src="https://mc.yandex.ru/watch/51062585" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                        <!-- /Yandex.Metrika counter -->
                    </li>
                </ul>
            </div>
            <div class="col l3 m6 s12 offset-l1">
                <h5 class="white-text"><i class="fas fa-info-circle"></i>Контакты</h5>
                <ul>
                    <li><a class="white-text" href="mailto://help1smm@ya.ru">Поддержка: help1smm@ya.ru</a></li>
                    <li><a class="white-text" href="https://t.me/one_smm">Новости сервиса: t.me/one_smm</a></li>
                    <li><a class="white-text" href="icq://643510696">ICQ: 643510696</a></li>
                </ul>
            </div>
            <div class="col l3 m6 s12 offset-l1">
                <h5 class="white-text"><i class="far fa-credit-card"></i>Оплата</h5>
                <ul>
                    <li><a class="white-text btn-deposit">Пополнить баланс</a></li>
                    <!-- begin WebMoney Transfer : attestation label -->
                    <li style="padding-top: 5px;">
                        <a class="white-text" href="https://passport.webmoney.ru/asp/certview.asp?wmid=136250161007" target="_blank">
                            <img src="/static/img/v_blue_on_white_ru.png" alt="Здесь находится аттестат нашего WM идентификатора 136250161007" border="0"/>
                            <br/><span style="font-size: 0.7em;">Проверить аттестат</span>
                        </a>
                    </li>
                    <!-- end WebMoney Transfer : attestation label -->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row no-mar-bot">
                <div class="col m6">
                    <span>Copyright © </span><a class="pink-text text-lighten-3" href="/">{{ app_name }}, 2018</a>
                </div>
                <div class="col m6 right-align">
                    <a href="https://flionic.me/">
                        <span class="pink-text text-lighten-3"><i class="fas fa-hammer"></i>Developed by </span>
                        <span class="white-text">flionic.me</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script defer src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<script type="text/javascript">
    /*
    (function () {
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('/app.js').then(function (registration) {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function (err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    })();
*/
    function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for (var i = 0; i < 12; i++)
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        return text;
    }
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    M.toast({
                        html: '<span class="red-text">Ошибка:&nbsp;</span><span>{{ message }}</span>',
                        displayLength: 10 * 1000
                    });
                {% else %}
                    M.toast({html: '{{ message }}'});
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    $(document).ready(function () {
        var modals = M.Modal.init($('.modal'), {'endingTop': '30%'});
        $('.sidenav').sidenav();
        $('.tabs').tabs();
        $('.collapsible').collapsible();
        $(".dropdown-trigger").dropdown();
        $('select').formSelect();

        $('.btn-login').click(function () {
            modals[0].open();
        });
        $('.btn-deposit').click(function () {
            $('[name=ik_pm_no]').val('PM_' + makeid());
            modals[1].open();
        });
        $('.login').click(function () {
            $.post("login", {"email": $('#email').val(), "password": $('#pass').val()})
                .done(function (data) {
                    location.reload();
                });
        });
        $('.signup').click(function () {
            $.post("signup", {"email": $('#email').val(), "password": $('#pass').val()})
                .done(function (data) {
                    location.reload();
                });
        });
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
